* {
    font-family: 'Open Sans', sans-serif;
}

#logo, #time {
    height: 52px;
}

#time {
    flex-grow: 1
}

#sidebar {
    position: absolute;
    left: 0.8rem;
    top: 4rem;
 	width: 45%;
    min-width: 32rem;
    padding: 0.8rem;
    background: white;
    overflow: visible;
}
#sidebar > .icon {
    width: 6rem;
    height: 6rem;
    margin: -4rem auto 0;
    background-size: contain;
    border-radius: 50%;
    border: 6px solid white;
}
#sidebar > .tag {
    width: 100%;
    margin: 0.5rem 0 0.75rem 0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}
#sidebar .title {
    margin-top: 0.5rem;
    margin-bottom: 0.125rem;
    font-size: 1.2rem;
}
#sidebar .label {
    margin-top: 0.25rem;
    margin-bottom: 0.125rem;
    color: #95989A;
    font-size: 0.95rem;
    font-weight: 200;
    text-transform: uppercase;
}

#upvotes-downvotes {
	position: relative;
    height: 4.5rem;
}

#upvotes-downvotes line {
	stroke: gray;
	stroke-width: 0.5;
}

.upvotes-bar {
	fill: #90EE90;
}

.downvotes-bar {
	fill: #ef3d47;
}

#offensive-reports {
    height: 4.5rem;
}

#communities {
	/*
	make sure div isnt't shown when app starts
	setting display:none here wouldn't work since children elements
	don't expect empty parent containers
	*/
	visibility: hidden;
}

#sub-communities,
#related-communities,
#scatter {
	position: relative;
    height: 10rem;
}

.donut-chart {
	position: absolute;
	left: 0;
}

.donut-legend {
	position: absolute;
	right: 0;
	padding-top: 5%;
}

#zoom {
	position: absolute;
	height: 100%;
	width: 100%;
}

#zoom .labels {
    pointer-events: none;
}
#zoom .labels p {
    display: flex;
    height: 100%;
    line-height: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#zoom text {
    pointer-events: none;
}

.tooltip {   
	position: absolute;
	display: inline-block;
	text-align: center;
    background-color: #555;
    color: #fff;
	font: 12px sans-serif;
	border-radius: 6px;
    padding: 5px 5px;
    z-index: 1;
	opacity: 0;  /* starts hidden by default */
	pointer-events: none;
}

.tooltip::after {
	/* CSS to add a triangle to the tooltips's bottom region*/
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.scatter {
  position: absolute;
  bottom: 5%;
  height: 150px;
  width: 80%;
  left: 50%;
  z-index: -10;
  transform: translate(-50%, 0);
}

@media screen and (min-width: 1920px)                           {  html { font-size: 16px; }  }
@media screen and (min-width: 1600px) and (max-width: 1919px)   {  html { font-size: 15px; }  }
@media screen and (min-width: 1366px) and (max-width: 1599px)   {  html { font-size: 14px; }  }
