.edges line {
    stroke: #999;
    stroke-opacity: 0.6;
}

#side-bar {
	position: absolute;
	width: 20%;
	height: 100%;
	background-color: white;
}

#graph {
	position: absolute;
	left: 20%;
	width: 80%;
	height: 100%;
}

.heatmap-container {
  position: relative;
  padding-top: 30px;
  left: -20px;
  display: inline-block;
}

.metrics {
  visibility: hidden;  /* only show after page loads */
  height: 2em;
  line-height: 2em;
  width: 8em;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;

}

.slick-prev:before, .slick-next:before{
      color:gray;
}
