* {
    font-family: 'Open Sans', sans-serif;
}

#logo, #time {
    height: 52px;
}

#time {
    flex-grow: 1
}

#side-bar {
	position: absolute;
	top: 70%;
	bottom: 0;
	width: 100%;
	background-color: white;
}

#zoom {
	position: absolute;
	height: 70%;
	width: 100%;
}
#zoom .labels {
    pointer-events: none;
}

#zoom .labels p {
    display: flex;
    height: 100%;
    line-height: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.heatmap-container {
  position: relative;
  padding-top: 30px;
  left: -20px;
  display: inline-block;
}

.metrics {
  visibility: hidden;  /* only show after page loads */
  height: 2em;
  line-height: 2em;
  width: 8em;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}